extends ../layout 

block content 
    h1 Hello Worrld
    //- h2= book.title 
    //- p By: #{book.author} 
    //- ul 
    //-     li Genre: #{book.genre} 
    //-     li Year written: #{book.year}
    //- br

    //- a.button(href=`/books/${book.id}/update`) Update Book

    //- br
    //- br
    
    //- a.button(href="/") Home